html{
	height: 100%;
}

body{
	margin: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: #2B2743;
}

.instructions{
	font-size: 24px;
	font-family: "Hoefler Text", sans-serif;
	color: #fff;
	padding-top: 5%;
	text-align: center;
}

.instructions-mobile{
	display: none;
}

.fontbot{
	position: absolute;
	width: 360px;
	margin-bottom: -10px;
	margin-left: 50%;
	transform: translate(-50%,0);
	cursor: grab;
	bottom: 0;
	transition: .25s;
}

.fontbot:hover{
	margin-bottom: 0px;
}

#face-smile{
d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
}

.smile{
	animation-name: smile;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes smile {

	0% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

	10% {
     d: path("M150,150.3 C157.440006,163.633333   167.240006,170.3 179.4,170.3     C191.559994,170.3 201.959994,163.633333 210.6,150.3");
  }

	90% {
		 d: path("M150,150.3 C157.440006,163.633333   167.240006,170.3 179.4,170.3     C191.559994,170.3 201.959994,163.633333 210.6,150.3");
	}

	100% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

}

@media (max-width:700px){

	.instructions{
		display: none;
	}

	.instructions-mobile{
		font-size: 24px;
		font-family: "Hoefler Text", sans-serif;
		color: #fff;
		padding-top: 5%;
		text-align: center;
	}

	.fontbot{
		cursor: grab;
		bottom: 0;
	}
